<nb-layout>
  <nb-layout-header fixed width="100%" class="header" >
    <div class="header__content">
      <div class="header__content logo">
        <span>logo da empresa</span>
      </div>
      <div class="header__content profile">
        <span>Eduardo Assunção</span>
        <img src="https://avatars.dicebear.com/api/initials/ea.svg" alt="profile">
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar>Sidebar Content</nb-sidebar>

  <nb-layout-column>
    Page Content <button nbButton>Hello World</button>
  </nb-layout-column>
</nb-layout>