h1 {
  text-align: center;
}

.create__client {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin: 50px auto;
}

.create__client button.create__client--btn {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  height: 50px;
  padding: 20px;

  color: #FFF;
  text-align: center;

  background: #3949AB;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s;
}

.create__client button.create__client--btn:hover {
  background: #24328a;
}

.clients {
  margin-top: 30px;
  width: 100%;

  background: #FFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 16px;
}

.clients ul li {
  list-style-type: none;

  display: grid;
  grid-template-columns: 60% none none none none 20% 20% 20%;
  min-height: 56px;

  border: 1px solid #333;
  border-radius: 10px;
  padding: 16px;
  margin: 5px auto;
}

.clients ul li:first-child {
  font-weight: bold;
}

.clients ul li span {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients ul li button,
.clients ul li a {
  border: none;
  cursor: pointer;
  background: none;
}

.clients ul li button img,
.clients ul li a img {
  width: 24px;
  height: 24px;
  opacity: 0.6;
}

.clients ul li button img:hover,
.clients ul li a img:hover {
  opacity: 1;
}

@media (min-width: 600px) {
  .create__client button.create__client--btn {
    width: 250px;
  }

  .clients ul li {
    grid-template-columns: 25% 15% 15% 15% 15% 5% 5% 5%;
  }
}