<main>
  <h1>Gerenciar clientes</h1>

  <div class="create__client">
    <button (click)="handleNavigateToCreateClient()" class="create__client--btn">
      <img src="../../../assets/plus.png" alt="adicionar">
      Cadastrar novo cliente
    </button>

    <div class="clients">
        <ul>
          <li>
            <span>Nome do cliente</span>
            <span>CNPJ</span>
            <span>Porte</span>
            <span>QTD de funcionários</span>
            <span>Telefone(Com)</span>
          </li>
          <li *ngFor="let client of clients">
            <span>{{ client.fantasy_name }}</span>
            <span>{{ client.cnpj }}</span>
            <span>{{ client.size }}</span>
            <span>{{ client.number_of_employees }}</span>
            <span>{{ client.commercial_phone }}</span>
            <a routerLink="/budgets/create/{{ client.id }}">
              <img src="../../../assets/budget.png" alt="editIcon">
            </a>
            <a routerLink="/clients/update/{{ client.id }}">
              <img src="../../../assets/edit.png" alt="editIcon">
            </a>
            <button (click)="handleDeleteClient(client)">
              <img src="../../../assets/delete.png" alt="deleteIcon">
            </button>
          </li>
      </ul>
    </div>
  </div>
</main>
