<main>
  <h1>Criação de Orçamento</h1>
  <form class="form" (ngSubmit)="handleCreateBudget()" >
    <div class="form__field">
      <label htmlFor="name">Nome do Cliente (Contato)</label>
      <input
        type="text"
        name="name"
        id="name"
        [(ngModel)]="client.name"
        Disabled
      />
    </div>

    <div class="form__field">
      <label htmlFor="size">Porte da Empresa</label>
      <input
        type="text"
        name="size"
        id="size"
        [(ngModel)]="client.size"
        Disabled 
      >
    </div>

    <div class="form__field">
      <label htmlFor="email">Email</label>
      <input
        type="text"
        name="email"
        id="email"
        [(ngModel)]="client.email"
        Disabled
      >
    </div>

    <div class="form__field">
      <label htmlFor="users_quantity">QTD. Usuários</label>
      <input
        type="number"
        name="users_quantity"
        id="users_quantity"
        [(ngModel)]="budgetData.users_quantity"
        Disabled
      >
    </div>
    <button type="submit">Enviar</button>
  </form>

  <div class="products">
    <ul>
      <li>
        <span>Ferramenta(s)</span>
        <span>Valores sem impostos</span>
        <span>Valores com impostos</span>
        <span>Valor para parceiro</span>
      </li>
      <li *ngFor="let product of budgetData.budget_products">
        <span>{{ product.product_name }}</span>
        <span>{{ product.tax_free_amount | currency }}</span>
        <span>{{ product.tax_amount | currency }}</span>
        <span>{{ product.value_for_partners | currency }}</span>
      </li>
    </ul>
  </div>

  <div class="amount">
    <h3>Total: {{ budgetData.amount | currency }}</h3>
  </div>
</main>
